<% layout('layouts/boilerplate') %> 

<div id="wrapper">
    <div>
        <a href="/apps/comments">comments 페이지</a>
    </div>
    <div>
        <a href="/apps/basiccardgame">basic card game 페이지</a>
    </div>

</div>
