<% layout('layouts/boilerplate') %> 

<div class="card-wrapper">
    <% for ( i = 0; i < articles.length; i ++ ) { %> 
    <div class="card" onclick="location.href=`/articles/<%=articles[i].file%>`">

        <img class="card-img" src="" alt="카드 배경이미지">  


        <div class="title"><%= articles[i].title %> </div>
        <div class="date"><%= articles[i].date %></div>
        <div class="description-wrapper">
            <div class="description"><%= articles[i].description %></div>
        </div>
    </div>
    <% } %> 
</div>

<script>
    const $card_img = document.querySelectorAll('.card-img');

    function random(limit) {
        return Math.trunc(Math.random() * limit)
    }

    for ( i = 0; i < $card_img.length; i++ ) {
        const randomNumber = random(8);
        $card_img[i].src = `/img/article_card_img${randomNumber}.png`;
    }
</script>