<% layout('layouts/boilerplate')%>

    <div class="wrapper">
        <div class="title">육아는 힘들어</div>
        <div class="content1">밤은 일찍 시작되</div>
        <div class="content2">아기는 울어</div>
        <div class="content3">엄마도 울어</div>
        <img class='img1' src="./img/11230658.png" alt="거실"></img>
        <img class='img2' src="./img/112306582.png" alt="시우"></img>
        <img class='img3' src="./img/112306583.png" alt="엄마"></img>
    </div>



